.loginDiv {
  width: 900px;
  height: 500px;
  background-image: url("../../images/login_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.rightLoginDiv {
  float: right;
}

.leftLoginDiv {
  float: left;
  width: 300px;
  min-height: 340px;
  position: absolute;
  top: 50%;
  left: 7%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: rgb(205, 205, 205, 0.7);
  vertical-align: middle;
}
